.userBtn {
    background-color: transparent;
    border: none;
    width: 130px;
    font-size: 1rem;
    text-align: left;
    padding-left: 20px;
}

.userBtn:hover {
cursor: pointer;
text-decoration: underline;
}

.currentUser {
    display: flex;
    flex-direction: column;
    margin-top: 232px;
}

.userInfo {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 12px;
}

.currentUserShowFalse {
    margin-top: 8px;
}

.noDisplay {
   display: none; 
}

.userSelector {
    background-color: white;
    z-index: 99;
    box-shadow: 1px;
    border-bottom: 1px solid #ffa09a;
    border-left: 1px solid #ffa09a;
    border-right: 1px solid #ffa09a;
}

.userSelector li {
    line-height: 2rem;
    list-style-type: none;
}

.userSelector li:hover {
text-decoration: underline;
cursor: pointer;
}