.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h2 {
    margin-top: 10px;
}

.headerImgSlogan {
    width: 420px;
    height: 120px;
}

.headerImgBook {
    width: 150px;
    height: 110px;
}

.allArticlesContainer  {
    width: 80%;
    margin: auto;
}

.latestArticle {
    margin-bottom: 20px;;
}

.latestArticleImg {
    width: 70%;
    max-height: 500px;
}

.latestArticleContainer {
    display: flex;
    margin: auto;
    gap: 1em;
    text-align: left;
    /* border: 2px solid black; */
}

.articleCardContainer {
    display: flex;
    gap: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.articleCardContainer img {
    width: 140px;
}

@media only screen and (min-width: 1200px) {
    .latestArticleImg {
        width: 60%;
    }
    
    .latestArticleContainer {
        align-items: center;
    }

}
