.logo {
    width: 80px;
    /* margin: 40px; */
}

.profilePicture {
    width: 50px;
    height: 50px;
}

.logoAndLinks {
    display: flex;
    align-items: center;
    gap: 1em;
    /* border: 2px solid black; */
}

.navBarContainer {
    width: 100vw;
    background-color: #ff6a60;
}

.navBar {
    display: flex;
    max-width: 70%;
    /* border: 2px solid black; */
    height: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    margin: auto;
}

.navLinks {
    display: flex;
    gap: 1em;
    /* border: 2px solid black; */
}

.currentUser {
    /* border: 2px solid black; */
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.7em;
    padding-right: 20px;
    width: 200px;
    /* inline-size: 150px; */
    overflow-wrap: break-word;
}

.navLink:hover {
    color: white;
}